# Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
import sklearn

print('Sklearn ver:', sklearn.__version__)

Sklearn ver: 0.24.1

# Import Dataset

In [3]:
df_raw = pd.read_csv('../dataset/online_shoppers_intention.csv')

## Overview
df_raw.sample(5)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
1898,1,34.0,2,9.0,3,149.000000,0.000000,0.050000,0.0,0.0,Mar,2,2,1,1,Returning_Visitor,False,False
9865,1,4.0,0,0.0,22,1749.000000,0.000000,0.015000,0.0,0.0,Dec,2,2,3,10,Returning_Visitor,False,False
4690,0,0.0,0,0.0,4,25.000000,0.000000,0.100000,0.0,0.0,May,2,2,3,3,Returning_Visitor,False,False
10961,0,0.0,0,0.0,5,126.083333,0.040000,0.053333,0.0,0.0,Nov,3,2,7,13,Returning_Visitor,False,False
3521,1,241.0,0,0.0,39,2666.000000,0.015385,0.046154,0.0,0.2,May,2,2,5,13,Returning_Visitor,False,False

# Data Cleansing

In [4]:
### Copy Raw Dataset
df_clean = df_raw.copy()

## Missing Values

In [5]:
df_clean.isnull().sum().sum()

0

Tidak ada missing value yang perlu ditangani

## Duplicated Rows

In [6]:
df_clean.duplicated().sum()

125

Dari hasil tersebut dapat dilihat bahawa ada 125 data yang duplicat dan data tersebut perlu di hapus

In [7]:
### Menghapus baris duplikat
df_clean.drop_duplicates(inplace=True)

## Handle Outliers

In [7]:
### Fitur dengan outlier ekstrim
feat_w_outl = ['Informational', 'ProductRelated', 'ProductRelated_Duration', 
               'PageValues']

### Coba Drop Outlier
df_no_outl = df_clean.copy()

for i in feat_w_outl:
    q1 = df_no_outl[i].quantile(.25)
    q3 = df_no_outl[i].quantile(.75)
    iqr = q3 - q1
    
    df_no_outl = df_no_outl[(df_no_outl[i] >= q1 - 1.5*iqr) & (df_no_outl[i] <= q3 + 1.5*iqr)]

In [8]:
### Cek dimensi
print('Dimensi sebelum remove outlier:', df_clean.shape)
print('Dimensi setelah remove outlier:', df_no_outl.shape)

### Cek balance target
print('Imbalance sebelum remove outlier')
print(df_clean['Revenue'].value_counts(normalize = True))
print('Imbalance setelah remove outlier')
print(df_no_outl['Revenue'].value_counts(normalize = True))

Dimensi sebelum remove outlier: (12205, 18)
Dimensi setelah remove outlier: (7164, 18)
Imbalance sebelum remove outlier
False    0.843671
True     0.156329
Name: Revenue, dtype: float64
Imbalance setelah remove outlier
False    0.97306
True     0.02694
Name: Revenue, dtype: float64

Setelah remove outlier banyak data target 1 (Revenue True) yang hilang. Mengindikasikan kalau outlier tersebut sebenarnya adalah pola yang wajar. Sehingga outlier tidak kami hilangkan.

## Feature Encoding

## Transformation

## Imbalance

# Feature Engineering

## Feature Selection

## Feature Extraction

## Additional Features